# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Windows executable or debug
*.exe
*.dll
*.bat
*.cmd

# Git conflicts backup
*.orig

# Mac system file (nếu ai đó dùng mac)
.AppleDouble
.LSOverride


